header {
    border-bottom: 1px solid rgba(#333, 0.3);
    position: relative;
    z-index: 10;
    .header {
        position: relative;
        z-index: 100;
        padding: 20px 0;
        &__logo {
            cursor: pointer;
            img {
                width: 160px;
                max-width: 100%;
            }
        }
        &__search {
            width: $width-headerSearch;
            .select-category {
                cursor: pointer;
                padding: 8px;
                border: 1px solid rgba(#333, 0.3);
                color: rgba(#333, 0.5);
                font-size: 1rem;
                &:focus {
                    outline: rgba(#333, 0.5);
                }
                width: $width-selectCategory;
            }
            input {
                width: 520px;
                padding: 10px;
                border: 1px solid rgba(#333, 0.2);
                display: block;
                height: 36px;
                margin-left: 0px;
                &::placeholder {
                    color: rgba(#333, 0.5);
                    font-style: italic;
                    font-size: 1rem;
                }
            }
            i {
                transform: translateX(-200%);
                cursor: pointer;
            }
        }
        &__right {
            .language {
                display: flex;
                position: relative;
                z-index: 1000;

                cursor: pointer;
                padding: 25px 0px;

                i {
                    margin-left: 5px;
                }
                &__drop-down {
                    background: white;
                    display: none;
                    position: absolute;
                    width: 150px;
                    padding: 30px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
                    transform: translateY(30px);
                    left: -30%;

                    p {
                        &:hover {
                            color: red;
                        }
                    }
                    p.mg-top15 {
                        margin-top: 15px;
                    }
                }
            }
            .currency {
                display: flex;
                position: relative;
                z-index: 100;
                cursor: pointer;
                margin-left: 20px;
                padding: 25px;
                i {
                    margin-left: 5px;
                }
                &__drop-down {
                    background: white;
                    display: none;
                    position: absolute;
                    width: 150px;
                    padding: 20px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
                    left: -30%;
                    transform: translateY(30px);
                    p {
                        margin-top: 10px;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
            .last {
                li {
                    cursor: pointer;
                    margin-left: 20px;
                    position: relative;
                    &:hover {
                        color: red;
                    }
                    .circle {
                        position: absolute;
                        background-color: black;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        bottom: 60%;
                        left: 60%;
                    }
                }
            }
        }
    }
}
