$text-color: #7d807d;
$primary: #22a6b3;
$button-color: #27ae60;
$width-selectCategory: 180px;
$width-headerSearch: 600px;
$width-inputSearch: calc(var($width-headerSearch) - var($width-selectCategory));
